* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/*variables for color scheme*/
:root {
  --color1: #90F3FF;
  --color2: #68EDC6;
  --color3: #90BEDE;
  --color4: #DFFDFF;
  --color5: #E5E1EE;
  --color_1: #3066BE;
  --color_2: #119DA4;
  --color_3: #6D9DC5;
  --color_4: #80DED9;
  --color_5: #AEECEF;
  --shadow: rgba(0,0,0,.2);
  --font1: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*End variables*/
/*kmre: Body flex container and the main items are it's childrens*/
body {
  background-color: var(--color_5);
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
body > * { /*Applies the flex property to the "main children" inside the body*/
  flex: 1 1 auto;
  background-color: var(--color_1);
}
/* End flex container for body*/

/*kmre: Header flex container and children*/
header {
  padding: 1% 2% 1% 5%;
  font-family: var(--font1);
  background-color: var(--color_1);
  color: var(--color4);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  order: 1;
  align-items: center;
}
header h1 {
  display: inline-block;
  font-size: 48px;
}
/*kmre: Header style for the navigation section*/
header nav {
  padding-top: 15px;
  margin-right: 25px;
  margin-left: 25px;
  text-align: right;
  font-family: var(--font1);
  font-size: 20px;
  list-style-type: none;
}
header nav ul li {
  display: inline-block;
  margin-left: 25px;
  margin-bottom: 5px;
}  
/*Color for the email link*/
/* unvisited link */
 .link:link {
  color: var(--color_2);
} 
/* visited link */
 .link:visited {
  color: var(--color_1);
} 
/* mouse over link */
 .link:hover {
  color: var(--color_3);
  /* font-size: 150%; */
} 
/* selected link */
 .link:active {
  color: var(--color_2);
}
/*kmre: Colors every a element inside <a> in the header*/
.class-a {
background-color: var(--color_1);
box-shadow: 10px 20px 10px var(--shadow);
color: var(--color_5);
display: block;
font-weight: bold;
margin-bottom: 20px;
padding: 15px 10px;
text-align: center;
text-decoration: none;
text-transform: uppercase;
}
/*hover*/
.class-a:hover {
  color: var(--color_5);
  box-shadow: 5px 10px 15px var(--shadow);
  position: relative;
  transform: translateZ(0);
  transition: color 1000ms;
  font-size: 105%;
}
  /*sweep to top*/
  .class-a:hover:before{
    transform: scaleY(1);
}
  .hvr-sweep:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--color_1);
    transform: scaleY(0);
    transform-origin: 50% 100%;
    transition-property: transform;
    transition: 300ms ease-out;
  }
/*kmre: end header style*/
/*kmre: Hero section image*/
.hero {
  height: 350px;
  width: 100%;
  background-image: url("../images/frontend-4342425.svg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: center;
  position: relative;
  order: 2;
}
.hero img {
  padding: 2%;
  border: var(--color2) solid 5px;
}
.hero h1 {
  color: var(--color_1);
}
/*kmre: End Hero section*/
/*kmre: Style section for Content
  kmre: Main Box .content*/
.content {
  display: flex;
  flex-flow: nowrap column;
  justify-content: stretch;
  font-family: var(--font1);
  order: 4;
}
/*kmre: .article creates a box around the "About Me" and "Work" sections
independently*/
article {
  padding: 1% 0% 5% 0%; 
  background-color: var(--color_2);
  color: var(--color4);
  display: flex;
  flex-flow: nowrap row;
  align-items: flex-start;
}
article h2 {
  font-size: 36px;
  text-align: right;
  width: 500px;
}
article p {
  font-size: 15px;
  padding: 1%;
}
/*kmre: Containers*/
.container_1 { /*Container for image in hero section*/
  height:fit-content;
  width: fit-content;
  position: absolute;
  top: 20%;
  left: 25%;
}
.container_2 { /*Container for subtitle in hero section*/
  height:fit-content;
  width: fit-content;
  position: absolute;
  bottom: 10%;
  right: 20%;
  padding: 5px;
  border: var(--color_2) dashed 4px;
  background-color: var(--color_5);
}
.container_3 { /*Container for div classes inside the articles*/
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  width: 75%;
  padding: 1% 5% 1% 3%;
  border-left: solid 5px var(--color_3);
  list-style-type: none;
}
.container_4 { /*Container for the Linkedin image inside footer*/
  height:fit-content;
  width: fit-content;
  top: 10%;
  left: 50%;
}
.container_5 { /*Container for the h2 class inside the articles*/
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
    width: 20%;
    padding: 1% 1% 5% 1%;
}
.container_6 { /*Container for inside the footer*/
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  width: 75%;
  padding: 1% 5% 1% 1%;
  border-left: solid 5px var(--color_3);
  justify-content: space-around;
}
.container_7 { /*Same as Container for div classes inside the articles but with flex row wrap*/
  width: 75%;
  padding: 1% 5% 1% 3%;
  border-left: solid 5px var(--color_3);
  display: flex;
  flex-flow: row wrap;
}
.container_8 { /*Container for Work Section images flex:1 1 auto for Run Buddy*/
  flex: 1 1 auto;
  display: flex;
  flex-flow: wrap column;
  position: relative;
  padding: 1% 1% 0% 1%;
}
.container_9 { /*Container for text inside run buddy*/
  padding: 1% 5% 1% 1%;
  border-left: solid 5px var(--color4);
  position: absolute;
  right: 10%;
  bottom: 5%;
  font-size: 150%;
  background-color: var(--color_1);
  color: var(--color_4);
} 
.container_10 { /*Same as Container for div classes inside the articles but with flex row wrap*/
  display: flex;
  flex-flow: wrap column;
  position: relative;
  width: 50%;
  padding: 1% 1% 0% 1%;
}
.future-work {
background: rgba(255, 255, 255, 0.2);
}
.container_animation { /*Animation for Work container*/
transition: opacity 100ms;
}
.container_animation:hover {
/* animation: change 4s infinite;
animation-timing-function: linear; */
box-shadow: 0 0 10px rgba(0, 0, 0, .7);
opacity: .5;
}
/*kmre: Start footer*/
footer{
  padding: 1% 0% 1% 0%; 
  font-family: var(--font1);
  background-color: var(--color_4);
  color: var(--color_2);
  display: flex;
  flex-flow: nowrap row;
  align-items: flex-start;
  order: 5;
}
footer h1 {
  font-size: 36px;
  text-align: right;
  width: 500px;
}
footer p {
  font-size: 25px;
  padding: 2% 5%;
}
footer a {
text-decoration: none;
}
/*kmre: changes properties based on device size*/
    @media only screen and (max-width: 830px) {
      header {
          justify-content: space-evenly;
          padding: 1% 1% 1% 1%;
      }
      header h1 {
          font-size: 39px;
          padding: 0 0% 0 4%;
      }
      header nav {
          padding: 1% 0% 0% 0%;
          margin-right: 25px;
          margin-left: 25px;
          text-align: right;
          font-size: 20px;
        }
        .container_1 {
          height: fit-content;
          width: fit-content;
          position: absolute;
          top: 17%;
          left: 23%;
      }
    }
    @media only screen and (max-width: 675px) {
      header {
          justify-content: center;
      }
      header h1 {
          font-size: 35px;
      }
      header nav ul {
          text-align: center;
          margin: 0%;
          padding: .5% 0 0 0%;
      }
      .class-a {
          margin: 0px;
          padding: 0 5px 0 5px;
          font-size: 15px;
      }
      footer div p {
        font-size: 15px;
        padding: 0% 10%;
      }
      .container_1 { /*Container for image in hero section*/
          height: fit-content;
          width: fit-content;
          position: absolute;
          top: 17%;
          left: 23%;
      }
      .container_2 { /*Container for subtitle in hero section*/
          font-size: 17px;
      }
      .container_5 { /*Container for the h2 class inside the articles*/
          display: flex;
          flex-flow: column nowrap;
          align-items: flex-end;
          width: 20%;
          padding: 1% 1% 5% 1%;
          font-size: 16px;
      }
        .container_4 { /*Container for the Linkedin image inside footer*/
          height:fit-content;
          width: fit-content;
          top: 10%;
          left: 50%;
          padding: 1%;
        }
        .container_9 {
          font-size: 15px;
        }
  }

/*Playing with animation code: Adding a fill to the background of hero img and making bigger when hover*/
/* .hvr-size {
display: inline-block;
vertical-align: middle;
transform: perspective(1px) translateZ(1);
box-shadow: 0 0 1px rgba(0, 0, 0, 0);
overflow: hidden;
transition-duration: 0.5s;
transition-property: color, background-color, width, height;

}
.hvr-size:hover {
animation-name: hvr-size;
animation-duration: 1s;
animation-delay: 0.5s;
animation-timing-function: linear;
animation-iteration-count: infinite;
background-color: #2098D1;
color: white;
width: 30%;
height: 30%;
}

.container_animation:hover {
animation: change 4s infinite;
animation-timing-function: linear;
}

@keyframes change {
from {background-color: palevioletred;}
to {background-color: rgb(0, 128, 75);}
} */
/**************************/





