* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*kmre: Body Style just background color*/
body {
    background-color: #d9dcd6;
}

/*kmre: Header includes Hori---n*/
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    /*kmre: flex added to allow the navi to stay within the header section*/  
    display: flex;
    justify-content: space-between;
    /*kmre: Right now this color does nothing because everything is 
    included in the <a> element. Left here incase they want to 
    switch the h1 to regular text instead of <a>*/
    color: #ffffff;
}
header h1 {
    display: inline-block;
    font-size: 48px;
}
/*kmre: changes only seo span*/
.seo {
    color: #d9dcd6;
}
/*kmre: Header style for the navigation section*/
header nav {
    padding-top: 15px;
    margin-right: 20px;
    /*kmre: margin-left added for the flex display to look like original*/
    margin-left: 25px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    list-style-type: none;
}
header nav ul li {
    display: inline-block;
    margin-left: 25px;
}
/*kmre: Colors every a element inside header*/
header a {
    color: #ffffff;
    text-decoration: none;
}
/*kmre: end header style*/

/*kmre: Hero section image*/
.hero {
    height: 300px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/website-1624028.svg");
    background-size: cover;
    background-position: center;
}
/*kmre: End Hero section*/

/*kmre: Style section for left section*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
article {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
article img {
    max-height: 200px;
}
article h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
article p {
    font-size: 16px;
}
/*kmre: Classes for the image to float left or right*/
.float-left {
    float: left;
    margin-right: 25px;
}
.float-right {
    float: right;
    margin-left: 25px;
}
/*kmre: End float and left section*/

/*kmre: Start right side section for Benefits*/
aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
aside section {
    margin-bottom: 32px;
    color: #ffffff;
}
aside section h3 {
    margin-bottom: 10px;
    text-align: center;
}
aside img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
aside p {
    font-size: 16px;
}
/*kmre: End right side section*/

/*kmre: Start footer*/
footer{
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
footer h2 {
    font-size: 20px;
}
footer p {
    font-size: 16px;
}
/*kmre: End footer*/

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    /*header {
      padding-bottom: 0;
      justify-content: center;
      position: relative;
    }
  
    header h1 {
      width: 100%;
      text-align: center;
    }
  
    header nav ul {
      margin-top: 20px;
      width: 100%;
      justify-content: center;
    }
  
    header nav ul li a {
      font-size: 20px;
    }
  
    footer h2, footer div {
      text-align: center;
      width: 100%;
    }  header {
      padding-bottom: 0;
      justify-content: center;
    }
  
    header h1 {
      width: 100%;
      text-align: center;
    }
  
    header nav ul {
      margin-top: 20px;
      width: 100%;
      justify-content: center;
    }
  
    header nav ul li a {
      font-size: 20px;
    }
  
    footer h2, footer div {
      text-align: center;
      width: 100%;
    }
    
    .hero-cta, .hero-form {
      width: 100%;
    }
    
    .hero-cta {
      text-align: center;
    }
    .section-title {
      width: 80%;
    }
    
    .trainer {
      flex: 0 70%;
    }
    
    .contact-info iframe{
      flex: 1 100%;
    }
  }*/
  
  /* MEDIA QUERY FOR TABLETS AND SMALLER */
  @media screen and (max-width: 768px) {
    /*section {
      padding: 30px 15px;
    }
    .step h3 {
      flex: 1 100%;
      text-align: center;
    }
  
    .step-info {
      flex: 2 100%;
      text-align: center;
      justify-content: center;
    }
  
    .step-img {
      flex: 0 32%;
      margin-right: 0;
      margin-top: 15px;
      margin-bottom: 15px;
    }
  
    .step-text {
      flex: 100%;  
    }
  
  }*/
  
  /* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
  @media screen and (max-width: 575px) {
   /* .hero-form button {
      width: 100%;
    }
  
    .section-title {
      width: 95%;
    }
  
    .intro p {
      width: 100%;
    }
  
    .trainer {
      flex: 0 100%;
    }
  
    .contact-info {
      text-align: center;
    }
  
    .contact-info > * {
      flex: 0 100%;
    }
  
    .contact-form {
      order: 3;
    }*/
  }