* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/*kmre: Body flex container and the main items are it's childrens*/
body {
  background-color: #d9dcd6;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
body > * {
  flex: 1 1 auto;
}
/* End flex container for body*/

/*kmre: Header flex container and children*/
header, footer{
  padding: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #2a607c;
  color: #ffffff;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  order: 1;
}
header h1, footer h1 {
  display: inline-block;
  font-size: 48px;
}
/*kmre: Header style for the navigation section*/
header nav, footer nav {
  padding-top: 15px;
  margin-right: 25px;
  margin-left: 25px;
  text-align: right;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  list-style-type: none;
  align-self: flex-end;
  justify-self: flex-end;
}
header nav ul li, footer nav ul li {
  display: inline-block;
  margin-left: 25px;
}
/*kmre: Colors every a element inside header*/
header a, footer a {
  color: #ffffff;
  text-decoration: none;
}
/*kmre: end header style*/

/*kmre: Hero section image*/
.hero {
  height: 350px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("../images/frontend-4342425.svg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: center;
  position: relative;
  order: 2;
}
.hero img {
  padding: 2%;
  border: ivory solid 3px;
}
.hero h2 {
  background-origin: padding-box;
  height: 13%;
  width: 20%;
  padding: 1%;
  align-self: flex-end;
  flex: 1 1 auto;
}
/*kmre: End Hero section*/

/*kmre: Style section for left section*/
.content {
  width: 63%;
  display: flex;
  flex-flow: wrap column;
  /* justify-content: space-around; */
  /* display: inline-block;
  margin-right: 20px; */
  order: 4;
}
article {
  /* margin-bottom: 20px;
  padding: 50px; */
  height: 50%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #0072bb;
  color: #ffffff;
  padding: 2% 10%;
}
/* article img {
  max-height: 200px;
} */
article h2 {
  margin-bottom: 20px;
  font-size: 36px;
}
article p {
  font-size: 16px;
}
/*kmre: Classes for the image to float left or right*/
.float-left {
  float: left;
  margin-right: 25px;
}
.float-right {
  float: right;
  margin-left: 25px;
}
/*kmre: End float and left section*/

/*kmre: Container*/
.container_1 {
  height:fit-content;
  width: fit-content;
  position: absolute;
  top: 20%;
  left: 10%;
}
.container_2 {
  height:fit-content;
  width: fit-content;
  position: absolute;
  bottom: 10%;
  right: 20%;
  background-color: deeppink;
}
.container_3 {
display: flex;
max-width: 100%;
height: 500px;

}
.container_4 {
  height:fit-content;
  width: fit-content;
  /* position: absolute; */
  top: 10%;
  left: 50%;
}

/*kmre: Start right side section for Benefits*/
.aside {
  display: flex;
  flex-flow: column wrap;
  align-items: stretch;
  align-content: stretch;
  justify-content: space-around;
  /* margin-left: 20px; */
  /* padding: 20px; */
  /* clear: both; */
  /* float: right; */
  width: 35%;
  /* height: 100%; */
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #2589bd;
  order: 3;
}
.aside section {
  /* margin-bottom: 32px; */
  color: #ffffff;
  text-align: right;
  margin-right: 15%;
}
/* .aside section h3 {
   margin-bottom: 10px; 
  text-align: right;
  margin-right: 15%; 
}*/
/* .aside img {
   display: block;
  margin: 10px auto; 
  max-width: 150px;
} */
/* .aside p {
  font-size: 16px;
} */
/*kmre: End right side section*/

/*kmre: Start footer*/
footer {
  order: 5;
  /* position: relative; */
}

/*
footer h2 {
  font-size: 20px;
}
footer p {
  font-size: 16px;
} */
/*kmre: End footer*/