* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*Main variables*/
:root {
    --color1: rgb(98, 0, 128);
    --color2: #024e76;
    --color3: #39a6b2;
    --color4: rgb(205, 248, 255);
    --font: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

/*kmre: Body Style just background color*/
body {
    background-color: var(--color4);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
/*kmre: Header includes Hori---n*/
header {
    padding: 15px 5%;
    font-family: var(--font);
    background-color: var(--color2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    color: var(--color4); 
}
header div {
    padding: 1%;
    flex: 3;
}
/*kmre: Header style for the navigation section*/
header nav {
    padding: 0 0 10px 0;
    font-family: var(--font);
    font-size: 23px;
    list-style-type: none;
    display: flex;
    flex-flow: column wrap;
    align-self: flex-end;
    align-content: flex-end;
    flex: 5;

}
header nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap; 
}
header nav ul li {
    display: flex;
    margin: 0 10px;
}

/*kmre: Colors every a element inside header*/
header h1 {
    justify-content: center;
}
header a {
    color: var(--color4);
    text-decoration: none;
}
/*kmre: end header style*/

main {
    flex: 1;
}

/*kmre: Start footer*/
footer{
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    width: 100%;
}
footer h2 {
    font-size: 20px;
}
footer p {
    font-size: 16px;
}
/*kmre: End footer*/

/*Hero section*/
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2%;
    background-image: url("../images/website-1624028.svg");
    background-position: center;
}
.div-picture {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 1%;
}

.div-picture img {
    width: 50%;
    padding: 5px 5px;
    border: azure solid 5px;
}
.subtitle {
    flex: 2;
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
    padding: 0 2% 0 0;
}
.subtitle h2 {
    padding: 5px 5px;    
    background-color: azure;
}


/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
  /*  .hero {
        height: 200px;
    }*/

    /*header {
      padding-bottom: 0;
      justify-content: center;
      position: relative;
    }
  
    header h1 {
      width: 100%;
      text-align: center;
    }
  
    header nav ul {
      margin-top: 20px;
      width: 100%;
      justify-content: center;
    }
  
    header nav ul li a {
      font-size: 20px;
    }
  
    footer h2, footer div {
      text-align: center;
      width: 100%;
    }  header {
      padding-bottom: 0;
      justify-content: center;
    }
  
    header h1 {
      width: 100%;
      text-align: center;
    }
  
    header nav ul {
      margin-top: 20px;
      width: 100%;
      justify-content: center;
    }
  
    header nav ul li a {
      font-size: 20px;
    }
  
    footer h2, footer div {
      text-align: center;
      width: 100%;
    }
    
    .hero-cta, .hero-form {
      width: 100%;
    }
    
    .hero-cta {
      text-align: center;
    }
    .section-title {
      width: 80%;
    }
    
    .trainer {
      flex: 0 70%;
    }
    
    .contact-info iframe{
      flex: 1 100%;
    }*/
  }
  
  /* MEDIA QUERY FOR TABLETS AND SMALLER */
  @media screen and (max-width: 768px) {
     /* header {
        display: flex;
        flex-flow: column wrap;
      }
    
      .hero {
          height: 175px;
      }
      
        .subtitle {
            padding: 2%;
            font-size: 15px;
        }*/



    /*section {
      padding: 30px 15px;
    }
    .step h3 {
      flex: 1 100%;
      text-align: center;
    }
  
    .step-info {
      flex: 2 100%;
      text-align: center;
      justify-content: center;
    }
  
    .step-img {
      flex: 0 32%;
      margin-right: 0;
      margin-top: 15px;
      margin-bottom: 15px;
    }
  
    .step-text {
      flex: 100%;  
    }
  */
  }
  
  /* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
  @media screen and (max-width: 575px) {
   /* header nav {
        font-size: 15px;
    }
    .hero {
        height: 150px;
    }*/

   /* .hero-form button {
      width: 100%;
    }
  
    .section-title {
      width: 95%;
    }
  
    .intro p {
      width: 100%;
    }
  
    .trainer {
      flex: 0 100%;
    }
  
    .contact-info {
      text-align: center;
    }
  
    .contact-info > * {
      flex: 0 100%;
    }
  
    .contact-form {
      order: 3;
    }*/
  }