*, ::after, ::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*Main variables*/
:root {
    --color1: rgb(98, 0, 128);
    --color2: #024e76;
    --color3: #39a6b2;
    --color4: rgb(205, 248, 255);
    --font: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

/*kmre: Body Style just background color*/
/* body {
    background-color: var(--color4);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
} */
/*kmre: Header includes Hori---n*/
header {
    padding: 15px 5%;
    font-family: var(--font);
    background-color: var(--color2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    color: var(--color4); 
    /*width: 100%;*/
}
header div {
    padding: 1%;
    flex: 3;
}
/*kmre: Header style for the navigation section*/
header nav {
    padding: 0 0 10px 0;
    font-family: var(--font);
    font-size: 23px;
    list-style-type: none;
    display: flex;
    flex-flow: column wrap;
    align-self: flex-end;
    align-content: flex-end;
    flex: 5;
}
header nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap; 
}
header nav ul li {
    display: flex;
    margin: 0 10px;
}
header h1 {
    justify-content: center;
}
/*kmre: Colors every a element inside header*/
header a {
    color: var(--color4);
    text-decoration: none;
}
/*kmre: end header style*/
.main {    
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.wrapper {
    padding-top: 60px;
    padding-bottom: 60px;
}
.smaller-devices {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.primary {
position: relative;
width: 100%;
padding-right: 15px;
padding-left: 15px;
}
.col1 {
flex: 0 0 66.66%;
max-width: 66.66%;
}
section {
    margin-bottom: 30px;
}

/*kmre: Start footer*/
footer {
    padding: 15px 5%;
    font-family: var(--font);
    background-color: var(--color2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    color: var(--color4); 
    /*width: 100%;*/
}
footer h3 {
    padding: 1%;
    flex: 3;
}
footer nav {
    padding: 0 0 10px 0;
    font-family: var(--font);
    font-size: 23px;
    list-style-type: none;
    display: flex;
    flex-flow: column wrap;
    align-self: flex-end;
    align-content: flex-end;
    flex: 5;
}
footer nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap; 
}
footer nav li {
    display: flex;
    margin: 0 10px;
}
/*kmre: End footer*/

/*Hero section*/
.hero {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 2%;
    background-image: url("../images/website-1624028.svg");
    background-position: center;
    width: 100%;
}
.div-picture {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1%;
}

.div-picture img {
    width: 50%;
    padding: 5px 5px;
    border: azure solid 5px;
}
.subtitle {
    flex: 2;
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
    padding: 0 2% 0 0;
}
.subtitle h2 {
    padding: 5px 5px;    
    background-color: azure;
}
footer a {
    color: var(--color4);
    text-decoration: none;
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */

@media screen and (max-width: 1400px) {
    .main {
        width: 1360px;
        max-width: inherit;
    }
}
@media screen and (max-width: 1200px) {
    .main {
        max-width: 1140px;
    }
}
@media screen and (max-width: 992px) {
    .main {
        max-width: 960px;
    }
}
@media screen and (max-width: 992px) {
    .main {
        max-width: 960px;
    }
}
@media screen and (max-width: 768px) {
    .main {
        max-width: 720px;
    }
}
@media screen and (max-width: 576px) {
    .main {
        max-width: 540px;
    }
}